html {
  scroll-behavior: smooth;
}
div.header{

}
font{
font-size:36;
color: #ea3808;
font-weight: 900;
}
.title{
background-image:url("title.jpg");
 background-repeat:no-repeat;
width:100%;
height:25%;
padding-top: 100px;
}
button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 24.5%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
border-radius: 12px;

}

button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.content{
height:500;

}
li{
font-size: 20px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column1 {
  float: left;
  width: 45%;
  margin-top: 6px;
  padding: 20px;
}
.column2 {
  float: right;
  width: 50%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}